Hello,World.json
[
    {
        "id": "ec5b944c74b85273",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d91f1f5749b65f75",
        "type": "websocket in",
        "z": "ec5b944c74b85273",
        "name": "监听",
        "server": "d57d2813420fedfb",
        "client": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "a51ffb3b573645f0"
            ]
        ]
    },
    {
        "id": "86851d8eb8da5792",
        "type": "websocket out",
        "z": "ec5b944c74b85273",
        "name": "发送",
        "server": "d57d2813420fedfb",
        "client": "",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "a51ffb3b573645f0",
        "type": "json",
        "z": "ec5b944c74b85273",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "0de599b2880ca02d"
            ]
        ]
    },
    {
        "id": "a77d9a69304f3d6a",
        "type": "template",
        "z": "ec5b944c74b85273",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"action\": \"send_message\",\n    \"data\":{\n        \"chat_id\": {{payload.chat.id}},\n        \"text\": \"Hello, World!\",\n        \"reply_to_message_id\": {{payload.id}}\n    }\n}",
        "output": "str",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "86851d8eb8da5792"
            ]
        ]
    },
    {
        "id": "0de599b2880ca02d",
        "type": "switch",
        "z": "ec5b944c74b85273",
        "name": "",
        "property": "payload.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "测试下 ws 连接",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "a77d9a69304f3d6a"
            ]
        ]
    },
    {
        "id": "d57d2813420fedfb",
        "type": "websocket-listener",
        "path": "/ws/example",
        "wholemsg": "false"
    }
]
